




{{!-- {{/each}} --}}



<main class="wrapper"> 
  <section class="container">
{{!-- {{#each userInSession}} --}}
{{#if userInSession}}


<div class="user-card">
  <img src="images/black-profile-logo.png" alt="John" style="width:100%">

<h2>Welcome, {{ userInSession.name }}!</h2>
<h3>Email: {{userInSession.email}} </h3>
<h3>Location: {{userInSession.location}} </h3>
<h3>Rescue Team: {{userInSession.team}}</h3>

  <p><button> <a href="/user-profile">Reload the page</a></button></p>
</div>
{{else}}
<p>Still no logged in user, sorry!</p>
{{/if}}


</section>
</main>