<h1>Welcome, {{ userInSession.name }}!</h1>
   {{!-- {{#each userInSession}} --}}
{{#if userInSession}}
<h2>Your information</h2>
<p>Email: {{userInSession.email}}</p>
<p>Location: {{userInSession.location}}</p>
<p>Rescue Team: {{userInSession.team}}</p> 





  <button>
    <a href="/pets">Back</a>
  </button>
{{else}}
  <p>Still no logged in user, sorry!</p>
{{/if}}
 {{!-- {{/each}} --}}