 <h2>BECOME A FOSTER PARENT</h2>
 
 <h3>Find your new family member</h3>

 <h4>Why become a foster?</h4>
 <p>Animal fostering plays a vital part in the rehabilitation of animals and improve their chance of finding a new home. It also frees up space in rescue centres so that they can take on more animals in need.</p>
 
 {{#each pets}}

<h2>{{this.name}}</h2>
<p>{{this.gender}}</p>
//<h2>description: {{this.description}}</h2>
  <a href="/pets/{{this._id}}">See details</a> {{!-- link that points to the details page --}}
<p>{{this.animal}}</p>
<p>{{this.location}}</p>

 {{/each}}