<main class="wrapper">
  <section class="edit">
<h1>Edit the pet's details: {{this.name}}</h1>

<form action="/pets/{{this._id}}/edit" method="post">  {{!-- action: where we send the info --}}
  <label> Description
    <input type="text" name="description" value="{{this.description}}" />
  </label>


  <label> Date of Birth
    <input type="text" name="dateOfBirth" value="{{this.dateOfBirth}}" />
  </label>

  <label> Health Issues
    <input type="text" name="healthIssues" value="{{this.healthIssues}}" />
  </label>

  <button>Save changes</button>
</form>
</section>
</main>
