<h1>More about {{name}}</h1>
<hr>
<p>Animal: {{animal}}</p>
<p>Gender: {{gender}}</p>
<p>Location: {{location}}</p>
<p>Health issues: {{healthIssues}}</p>
<p>Description: {{description}}</p>

   <img src="{{image}}" alt="pet image">
<hr>
<a href="/pets/{{_id}}/edit">Edit</a>
<hr>
    <form action="/pets/{{_id}}/delete" method="POST">
      <button>Delete</button>
    </form>
    <br>

<hr>
<a href="/pets">Back</a>