<main class="wrapper">
  <div class="container">

<h1>More about {{name}}</h1>
<hr>

<div class="pet-info">
          <i class="material-icons">pets</i>
          <h3>{{this.animal}}</h3>
          <i class="material-icons">home</i>
          <h3> {{this.user.location}}</h3>
          <i class="material-icons">cake</i>
          <h3> {{this.dateOfBirth}}</h3>
        </div>
   
<div class="big-image">
   <img src="{{image}}" alt="pet image">
   </div>
<hr>
<section class="pet-details">
     <div class="pet-info2">
          <h3>Gender: {{this.gender}}</h3>
          <h3>Foster: {{this.user.name}}</h3>
           <h3>Health Issues: {{this.healthIssues}}</h3>
          <h3>Team: {{this.user.team}}</h3>
          </div>
<div class="pet-description">
<p>Description: {{description}}</p> </div>
</section>

<hr>
<p>Is your heart melting? Get in touch with {{name}}'s foster for additional information <i class="material-icons">favorite</i></p>
  <button>Contact foster</button>
  {{!-- {{this.user.email}} --}}

    <br>

<hr>
<button><a href="/pets">Back</a></button>


</div>
</main>